@font-face
{
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	src: local('VT323 Regular'), local('VT323-Regular'), url(vt323.woff2) format('woff2');
	unicode-range:   U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
#notification
{
	z-index: 65535;
	width: 334px;
	background-color: rgba(255, 255, 255, 0.613);
	color: #000000;
	/*+border-radius: 10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 21px;
	position: fixed;
	vertical-align: middle;
	/*+placement: 59px 26px;*/
	position: relative;
	left: 59px;
	top: 26px;
	border: 2px outset #929292;
	padding: 20px;
	visibility: hidden;
}
HTML
{
	background-color: #393939;
	color: #CBCBCB;
}
.inputField:focus
{
	outline: none;
}
BODY
{
	margin: 0px;
}
#header
{
	margin: 0px;
	background-color: #4B4B4B;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.493);
	position: fixed;
	top: 0%;
	width: 100%;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	z-index: 9999;
}
#Title
{
	color: #DAF5EF;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 25px;
	text-align: center;
	text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.300);
}
#footer
{
	position: fixed;
	background-color: #A0A0A0;
	display: block;
	float: bottom;
	bottom: 0%;
	width: 100%;
	height: 20px;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.493);
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	text-align: center;
	padding-top: 1px;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	z-index: 9999;
}
#main
{
	font-family: Arial;
	cursor: default;
	margin-top: 40px;
	width: 100%;
}
#codewriter
{
	margin: 14px auto;
	background-color: #464646;
	/*+border-radius: 7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	width: 500px;
	height: 301px;
	border: 2px outset #808080;
	box-shadow: 5px 5px 16px 2px rgba(0, 0, 0, 0.493);
}
#passwordPromptContainer
{
	height: 79px;
}
#passwordPrompt
{
	float: left;
	margin-left: 60px;
	margin-top: 26px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.502);
}
#secret
{
	position: absolute;
	margin-left: 12px;
	margin-top: 17px;
	height: 30px;
	width: 194px;
	/*+border-radius: 10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#connector
{
	height: 1px;
	width: 23px;
	position: absolute;
	/*+placement: 339px 34px;*/
	position: relative;
	left: 339px;
	top: 34px;
	border-top: 2px ridge #7C7C7C;
}
.watermarkContainer
{
	float: right;
	margin-top: 15px;
	margin-right: 15px;
	height: 116px;
	padding: 10px;
	background: #1C1C1C;
	border-radius: 6px;
	border: 2px inset #626262;
}
.sectionTitle
{
	text-align: center;
	font-size: 16px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.502);
	/*+placement: 1px -4px;*/
	position: relative;
	left: 1px;
	top: -4px;
}
#watermark
{
	height: 90px;
	line-height: 90px;
	width: 90px;
	vertical-align: middle;
	background-color: #1A1A2E;
	color: #1A1A2E;
	border: 2px inset #959595;
	/*+border-radius: 7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
	margin: 0 auto;
}
#verificationKey
{
	transform: rotate(-20deg);
	background-color: #1A1A2E;
	height: 20px;
	line-height: 20px;
	width: 93px;
	vertical-align: middle;
	/*+placement: float-left -6px 31px;*/
	float: left;
	position: relative;
	left: -6px;
	top: 31px;
	border: 4px solid #1A1A2E;
	text-align: center;
}
#verificationCrossH
{
	background-color: rgba(136, 136, 136, 0);
	height: 3px;
	width: 90px;
	/*+placement: 0px 64px;*/
	position: relative;
	left: 0px;
	top: 64px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
#verificationCrossV
{
	background-color: rgba(136, 136, 136, 0);
	height: 90px;
	width: 3px;
	/*+placement: 33px 0px;*/
	position: relative;
	left: 33px;
	top: 0px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
#watermarkFilter
{
	height: 92px;
	width: 92px;
	position: absolute;
	z-index: 999;
	/*background-color: rgba(105, 68, 27, 0.147);*/
	background: 0 0 / contain rgba(105, 68, 27, 0.392);
	/*+placement: 0px 0px;*/
	position: relative;
	left: 0px;
	top: 0px;
}
#watermarkImage
{
	opacity: 0.35;
	width: 88px;
	height: 87px;
	/*+placement: 2px -91px;*/
	position: relative;
	left: 2px;
	top: -91px;
	position: absolute;
	display: block;
}
#watermarkBloom
{
	height: 90px;
	width: 90px;
	z-index: 65500;
	display: block;
	position: absolute;
	background-color: rgba(204, 30, 30, 0);
	/*+placement: 2px -92px;*/
	position: relative;
	left: 2px;
	top: -92px;
	box-shadow: 0 0 17px 3px rgba(0, 0, 0, 0.512);
	/*+border-radius: 4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
#websitePromptContainer
{
	height: 58px;
	margin-top: 0px;
	position: absolute;
	float: left;
}
#websitePrompt
{
	margin-left: 15px;
	margin-top: 29px;
	float: left;
}
#website
{
	height: 30px;
	width: 194px;
	position: absolute;
	margin-top: 21px;
	margin-left: 13px;
	/*+border-radius: 10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
#connector2
{
	height: 23px;
	width: 1px;
	position: absolute;
	/*+placement: 226px 63px;*/
	position: relative;
	left: 226px;
	top: 63px;
	border-left: 2px ridge #7C7C7C;
}
.resultContainer
{
	height: 66px;
	float: left;
	margin: 15px;
	/*+border-radius: 7px;*/
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	background-color: #7A7A7A;
	border: 2px inset #808080;
}
#result
{
	height: 40px;
	line-height: 40px;
	width: 252px;
	/*+border-radius: 6px;*/
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	color: #000000;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-family: 'VT323';
	font-size: 30px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 2px inset #808080;
	background: url("lcd_blue2.png") 0 0 / cover #969696;
	color: #0F2B6C;
}
#copyToClipboard
{
	margin-left: 14px;
	margin-right: 15px;
	margin-top: 12px;
	float: right;
}
.OptionsContainer
{
	float: left;
}
.checkbox
{
	height: 24px;
	width: 24px;
}
#checkboxPrompt
{
	margin-left: 15px;
	margin-top: 5px;
	float: left;
	/*margin-top: 17px;*/
}
#showPassword
{
	margin-left: 14px;
}
.inputField
{
	font-family: Arial;
	font-size: 21px;
	padding-top: 0;
	padding-left: 10px;
}
.button
{
	border: 2px outset #999999;
	/*+border-radius: 5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 15px;
	/*height: 50px;*/
	text-align: center;
	display: table-cell;
	vertical-align: text-bottom;
	background-color: #CBCBCB;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
	float: right;
	margin: auto;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.124);
}
